:root {
  --box-shadow: 0px 0px 20px -4px black;
}

* {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: teal;

  min-height: 100vh;
  min-width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 90vw;
  height: 60vw;

  background-color: white;
  box-shadow: var(--box-shadow);
}

.tooltip {
  position: absolute;
  padding: 0 10px;
  background-color: white;
  box-shadow: var(--box-shadow);
  pointer-events: none;
}

#bars rect:hover {
  fill: yellowgreen;
}

@media only screen and (min-width: 750px) {
  .container {
    width: 750px;
    height: 500px;
  }
}

@media only screen and (min-width: 1000px) {
  .container {
    width: 1000px;
    height: 666px;
  }
}

@media only screen and (min-width: 1250px) {
  .container {
    width: 1250px;
    height: 850px;
  }
}
